button {
  font-size: 20px;
  width: 150px;
  height: 40px;
}

button:hover {
  color: white;
  background-color: black;
}

th {
  background-color: black;
  color: white;
}
tr:nth-child(odd) {
  background-color: lightgray;
}
